body {
  font-family: Arial, sans-serif;
  background: #f8fafc;
}

.container {
  width: 700px;
  margin: 40px auto;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.big-score {
  font-size: 40px;
  font-weight: bold;
  color: #2563eb;
}

.subtitle {
  text-align: center;
  color: gray;
}

.risk {
  color: red;
  font-weight: bold;
}